@model Pics


<div class="container">
    <div class="img-thumbnail">
        <a asp-controller="App" asp-action="Index" >
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Description" />
            <h4 class="text-center">
                @Model.Name
            </h4>
            <h4 class="text-center">@Model.Description</h4>
            <p>@Model.LongDescription</p>
            </a>
    </div>
</div>